* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-box {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
    background: #22252D;
    overflow: hidden;
}

form input {
    width: 100%;
    height: 150px;
    background: #000;
    border: none;
    border-radius: 12px;
    font-size: 36px;
    padding: 16px;
    color: #fff;
    text-align: right;
    /* pointer-events: none; */
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

button {
    flex: 1 1 22%;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
    max-width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.yellow-button {
    background: #f5923e;
    color: #fff;
}

.gray-button {
    background: #e0e0e0;
}

.equal-button {
    background: #428510;
}

.clear-button {
    background: #c21d33;
}